@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    rgba(248, 82, 17, 0.568),
    rgba(170, 22, 238, 0.719),
    rgba(32, 240, 32, 0.473),
    rgba(217, 240, 17, 0.438)
  );
}
.container {
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}
.container .card {
  position: relative;
  max-width: 300px;
  height: 300px;
  background: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  border-radius: 30px;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}
.container .card:hover {
  height: 300px;
  width: 300px;
}
.container .card .imgBx {
  position: relative;
  width: 200px;
  height: 200px;
  top: -60px;
  left: 20px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.container .card .imgBx img {
  max-width: 100%;
  height: auto;

  object-fit: contain;
  position: relative;
  border-radius: 10px;
}
.container .card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
}
.center {
  position: absolute;
  bottom: 0px;
  left: 30%;
  width: 0%;
}

.center .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  /* right: 1000%; */
  transform: translate(-50%, 50%);
  width: 150px;
  height: 60px;
  text-align: center;

  line-height: 30px;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 30px;
  z-index: 1;
}
.center .btn:hover {
  animation: animate 8s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
.center .btn:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  transition: 0.5s;
}
.center .btn:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}
/* Right button */

.center-1 {
  position: absolute;
  bottom: 0px;
  left: 60%;
  width: 10%;
}

.center-1 .btn-1 {
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, 50%);
  width: 150px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 30px;
  z-index: 1;
}
.center-1 .btn-1:hover {
  animation: animate 8s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
.center-1 .btn-1:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a900, #03a9f4, #f441a5, #ffeb3b);
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  transition: 0.5s;
}
.center-1 .btn-1:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}
